extends ../layout

block content
  <div class="container-fluid">
    <div class="row">
      include ../sidebar.pug
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form class="form-horizontal" action="" method="post">
      if insertId > 0
        <div class="alert alert-success" role="alert">Employee added successfully</div>
      if insertId > 0
        <div class="alert alert-success" role="alert">Employee added successfully</div>
      <fieldset>
        <!-- Form Name -->
        <legend>Add Employee</legend>
        <!-- Text input-->
        <div class="form-group">
           <label class="col-md-4 control-label" for="first-name">First Name</label>  
           <div class="col-md-4">
              <input id="first-name" name="first-name" type="text" placeholder="Firt Name" class="form-control input-md" value="#{empData.first_name}">
           </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
           <label class="col-md-4 control-label" for="last-name">Last Name</label>  
           <div class="col-md-4">
              <input id="last-name" name="last-name" type="text" placeholder="Last Name" class="form-control input-md" value="#{empData.last_name}">
           </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
           <label class="col-md-4 control-label" for="email">Email</label>  
           <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" value="#{empData.email}">
           </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
           <label class="col-md-4 control-label" for="phone">Phone</label>  
           <div class="col-md-4">
              <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control input-md" value="#{empData.phone}">
           </div>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
           <label class="col-md-4 control-label" for="button1id"></label>
           <div class="col-md-8">
              <button id="button1id" name="button1id" class="btn btn-success">Submit</button>
              <button id="button2id" name="button2id" type="button" class="btn btn-danger">Cancel</button>
           </div>
        </div>
      </fieldset>
        </form>
      </div>
    </div>
  </div>
