extends ../layout

block content
  <div class="container-fluid">
    <div class="row">
      include ../sidebar.pug
      <h2 class="sub-header">Section title</h2>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Emp ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              each emp, idx in data
                <tr>
                  <td>#{idx + 1}</td>
                  <td>#{emp.emp_id}</td>
                  <td>#{emp.first_name}</td>
                  <td>#{emp.last_name}</td>
                  <td>#{emp.phone}</td>
                  <td colspan="2">
                    <a href="/edit-employee/#{emp.emp_id}">Edit</a>/<a href="/delete-employee/#{emp.emp_id}">Delete</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>